:root,
[data-bs-theme="light"] {
  --bs-body-bg: white;
  --bs-body-bg-secondary: #F4F5F8;
  --bs-body-bg-accent: #0d6efd;
  --bs-body-bg-border: #5E5E5E;
  --bs-body-bg-hover: #ECEEF2;
  --bs-body-text: #5E5E5E;
  --bs-body-text-secondary: #8A8C91;
  --bs-body-shell: #ECEEF2;
  --bs-body-inactive: #B9BBC0;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #16171A;
  --bs-body-bg-secondary: #1F2229;
  --bs-body-bg-accent: #3d8bfd;
  --bs-body-bg-border: #16171A;
  --bs-body-bg-hover: #2A2D35;
  --bs-body-text: #cccdd0;
  --bs-body-text-secondary: #8A8C91;
  --bs-body-shell: #222429;
  --bs-body-inactive: #5E5E5E;
}

